*{
    background-color: #f0f2f5;
}
header{
    margin-top: 2%;
    margin-left: 12%;
}
header h1{
    color: #1877f2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 3.5em;
    min-width: 200px;
}
header p{
    color:#1c1e21;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    margin-top: -20px;
    width: 80%;
    max-width: 550px;
    min-width: 500px;
}
main{
    padding: 0px 150px 200px 10px;

    min-width: 800px;
    padding: 0;
    display: block;
    position: fixed;
    margin-left: 12%;
    float: right;
}

form{
    border: lightgrey 1px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px rgb(139, 145, 151, 0.1);
    min-width: 50%;
    max-width: 50%;
    padding-top: 10px;
    background-color: white;

}

.inp{
    padding-right: 70px;
    display:block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    padding-left: 20px;
    margin-left: 20px;
    background-color: white;
    border: 2px solid #eaecef;
    font-size: 1.2em;
    width: 70%;
    min-width: 280px;
}
.inp:focus{
    border-color: rgb(68, 68, 173);
}
button{
    background-color: #1877f2;
    min-width: 90%;
    padding: 15px 20px 15px 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    border: 2px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 10px;
}
button:hover{
    cursor: pointer;
}
form a{
    display: block;
    color: #5b9df3;
    text-decoration: none;
    padding-top: 10px;
    text-align: center;
    background-color: white;
}
#account{
    background-color:#42b72a;
    min-width: 40%;
    padding: 10px 20px 10px 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    border: 2px;
    border-radius: 5px;
    margin-left: 20%;
    margin-bottom: 10px;
}
hr{
    width: 80%;
}

#pos .pol{
    display: inline-block;
}
#last a{
    text-decoration: none;
    font-weight: bold;
    color: black;

}
#last{
    margin-left: 10px ;
}